body {

background-color: #e6f3ff;;
font-size: 14pt;

}

body {}

.indexht{

	text-align: center;
}
p{
	font-family: black;
	color: black;
}
h1{
	font-family: black;
	color: black;

}
