body{
	margin: 0;
	background-color: #e6f3ff;
	

}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom:2px solid silver;

	padding: 0 70px;
	height: 40px;

	font-size: 15px;
	font-family: 'lucida sans unicode', tahoma , sans-serif;
	text-transform: uppercase;

				

}

.head-menu{
			display: flex;

}

.head-menu a{
				color: #0088cc;
				text-decoration: none;
				margin: 15px;

				display: flex;
				justify-content: center;
				align-items: center;

				border-bottom: 3px solid transparent;
				
				transition: all 0.2s ease-in;

				min-width: 80px;

				/*border: 1px solid red;*/

				padding-top: 5px;
					opacity: 1;
}

.head-menu a:hover{

					border-bottom: 3px solid #0088cc;
						opacity: 0.70;
}


.head-menu2 {
				display: flex;
				

}

.head-menu2 a{
				color: #0088cc;
				text-decoration: none;

				display: flex;
				justify-content: center;
				align-items: center;
					
				border-bottom: 3px solid transparent;

				transition: all 0.3s ease-in;

				padding-top: 5px;
		
				padding-left: 5px;
				opacity: 1;



}

.head-menu2 a:hover{
					border-bottom: 3px solid #0088cc;
					opacity: 0.70;
}


.head-menu2 img{    
					width: 40px;
					height: 35px;
					padding-top: 2px;
					padding-right: 5px;	
}


/****************************************************************************/

.container{
		  	width:1000px;
			margin-right: auto;
			margin-left: auto;
			/*border: 1px solid red;*/

}

.container1{		
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 20px 0;
					
}


.container .logo {
						margin-top: 20px;
						margin-bottom: 10px;
						cursor: wait;
}

.container img {
					width: 150px;
					border: solid 1px black;
					border-radius: 10px;
	
}

.container h1 {
					 color: black;
					 font-size: 28px;
					 font-weight: 300px;

}	

 

/****************************************************/





.container .part {
		text-align: center;
		color: #000;
		margin-bottom:  50px;
		margin-top: 60px;s
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 300px;

}


.sticker{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					

}


.sticker .stick{
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					border:1px solid black;
					width: 300px;
					margin: 10px;
					/*flex-grow: 1;*/
}


.stick img {
				width: 220px;
				height: 250px;
}


.stick h2{
			margin-bottom: -10px;
}

/*.head-menu .active{*/
						/*border-bottom: 3px solid #0088cc;*/




/*////////////////////////////////////////////////////////////////////*/


footer{
			display: flex;
			justify-content: center;
			/*flex-wrap: wrap;*/

			
}

.footer1{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 10px 10px;
			text-align: center;
			flex-basis:300px;
			/*flex-wrap: wrap;*/
			/*flex-grow: 1;*/
}


.footer1  h1{
				color: #0088cc;
				margin: 0;
}


.footer1 li{
			cursor: #8c8c8c;
			margin: 0;
			width: 200px;
			font-size: 18px;
			
}
.footer1 p{
	        cursor: #8c8c8c;
			margin: 0;
			width: 200px;
			font-size: 18px;
		   
}























